---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import HowItWorks from "../components/HowItWorks.astro";
import WhyShipNode from "../components/WhyShipNode.astro";
import Features from "../components/Features.astro";
import Commands from "../components/Commands.astro";
import Frameworks from "../components/Frameworks.astro";
import GetStarted from "../components/GetStarted.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main id="main-content">
    <Hero />
    <HowItWorks />
    <WhyShipNode />
    <Features />
    <Commands />
    <Frameworks />
    <GetStarted />
  </main>
  <Footer />
</Layout>
